# Render engine configuration


renderengine.type = "PATHOCL"
#renderengine.type = "PATHCPU"

# Use all devices
opencl.platform.index = -1
opencl.cpu.use = 1
opencl.gpu.use = 1

# Sobol sampler performs well on GPU
sampler.type = "SOBOL"


# Output settings
film.width = 512
film.height = 512

film.outputs.1.filename = rgb_tonemapped.png
film.outputs.1.type = RGB_TONEMAPPED

film.outputs.2.filename = object_mask.png
film.outputs.2.type = OBJECT_ID_MASK
film.outputs.2.id = 1

# Include scene file
scene.file = scenes/base.scn
